{% load url from future %}
<!doctype html>
<html>
<head>
    <title>Bookmarks | {% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.3.flatly.min.css" type="text/css" charset="utf-8"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
{% block nav %}
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Bookmarks</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}<li><a href="/bookmarks/add">Add</a></li>{% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout {{ user.username }}</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
{% endblock %}
<div class="container">
{% if messages %}
{% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
     {{ message }}
    </div>
{% endfor %}
{% endif %}
{% block content %}<h3>You need to override the content block.</h3>{% endblock %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/bm.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.3.0.2.min.js"></script>
{% block js %}{% endblock %}

</body>
</html>