{% load url from future %}
<!doctype html>
<html>
<head>
    <title>Bookmarks | {% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" charset="utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bm.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</head>
<body>
{% block nav %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Bookmarks</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {% if user.is_authenticated %}<li><a href="/bookmarks/add">Add</a></li>{% endif %}
                    <li><a href="/about">About</a></li>
                </ul>
                 {% if user.is_authenticated %}
                 <form action="{% url 'logout' %}" method="post" class="navbar-form pull-right">
                     {% csrf_token %}
                     <button class="btn pull-right" type="submit">Log Out</button>
                 </form>
                 {% else %}
                 <a class="btn pull-right" href="{% url 'login' %}">Login</a>
                 {% endif %}
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
{% endblock %}
<div class="container">
{% if messages %}
{% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
     {{ message }}
    </div>
{% endfor %}
{% endif %}
{% block content %}<h3>You need to override the content block.</h3>{% endblock %}
</div>

</body>
</html>