.bookmark {
    padding-bottom: 5px;
}

.private-bookmark {
    font-style: italic;
}

.bookmark h1 {
    font-size: 18px;
    padding: 0;
    margin-bottom: 3px;
}

.bookmark h3 {
    color: #777;
    font-size: 16px;
    padding: 0;
    margin: 2px 0 2px 0;
}

.bookmark h3 a {
    color: #777;
}

.bookmark p {
    padding: 0;
    margin: 0;
}

.bookmark h4 {
    font-size: 12px;
    color: #bbb;
    margin-top: 4px;
}

.bookmark-list-date {
    padding-right: 7px;
}

#fetch_button {
    margin: 0 0 8px 8px;
}

#welcome {
    padding-top: 60px;
}

#welcome p {
    padding-top: 15px;
    font-size: 18px;
    line-height: 25px;
}

#news {
    
}

#news h1 {
    padding-top: 60px;
    padding-bottom: 15px;
    font-size: 30px;
}

#news h2 {
    font-size: 18px;
    line-height: 5px;
}

#news h3 {
    font-size: 12px;
    line-height: 12px;
    color: #aaa;
}

#news p {
    padding: 0;
    margin: 0;
}

#bookmark-form-table {
    margin-bottom: 30px;
}

#login-form {
    margin-top: 20px;
}
