{% extends "layout.html" %}
{% load humanize %}

{% block title %}
{% if specified_user %}{{ specified_user }}'s {% endif %}Bookmarks
{% endblock %}

{% block content %}
<h2>{% if specified_user %}{{ specified_user }}'s {% endif %}Bookmarks</h2>

{% for bookmark in object_list %}
<div class="bookmark-list-item{% if bookmark.private %} private-bookmark{% endif %}">
    <div class="bookmark-list-title"><a href="{{ bookmark.url }}">{{ bookmark.title }}</a></div>
    
    <div class="bookmark-list-notes">{{ bookmark.notes }}</div>
    <div class="bookmark-list-tags">
        {% if bookmark.tags.all %}
        <i class="icon-tag"></i>
        {% for tag in bookmark.tags.all %} {{ tag }} {% endfor %}
        {% endif %}
    </div>
    <div class="bookmark-list-extras">
        <span class="bookmark-list-date" title="{{ bookmark.create_date }}">{{ bookmark.create_date|naturaltime }}</span>
        {% if bookmark.user == user %}
        <a href="{% url bookmark_update bookmark.id %}">Edit</a>
        {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}
