{% extends "layout.html" %}

{% block title %}
{% if not object %}Add{% else %}Edit{% endif %} Bookmark
{% endblock %}

{% block head %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/datepicker.css" type="text/css" charset="utf-8"/>
{% endblock %}

{% block content %}

<h2>{% if not object %}Add{% else %}Edit{% endif %} Bookmark</h2>

<div class="row">
    <div class="col-lg-6">
        <div class="well">
            <form method="post" action="">
            {% csrf_token %}

            {{ form.non_field_errors }}
            <table id="bookmark-form-table">
            <tr>
                <th><label for="id_category">Category:</label></th>
                <td>
                    <select name="category" id="id_category">
                        <option value="1" {% if bookmark.category.id == 1 %}selected="selected"{% endif %}>Bookmark</option>
                        <option value="2" {% if bookmark.category.id == 2 %}selected="selected"{% endif %}>Note</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="id_entry_date">Entry Date:&nbsp;</label></td>
                <td>
                    {{ form.entry_date.errors }}
                    <input id="id_entry_date" type="text" name="entry_date" maxlength="200" value="{{ form.entry_date.value|date:"Y-m-d" }}" />
                </td>
            </tr>
            <tr>
                <td><label for="id_url">Url:</label></td>
                <td>
                    {{ form.url.errors }}
                    <input id="id_url" type="text" name="url" maxlength="200" value="{{ form.url.value|default:"" }}" />
                </td>
            </tr>
            <tr>
                <td><label for="id_title">Title:</label></td>
                <td>
                    {{ form.title.errors }}
                    {{ form.title }}
                    <input type="button" id="fetch_button" class="btn btn-primary btn-sm" value="Fetch Title" onClick="fetchTitle();" data-loading-text="Fetching..." />
                </td>
            </tr>
            <tr>
                <td valign="top"><label for="id_notes">Notes:</label></td>
                <td>
                    {{ form.notes.errors }}
                    {{ form.notes }}
                </td>
            </tr>
            <tr>
                <td><label for="id_private">Private:</label></td>
                <td valign="top">{{ form.private }}</td>
            </tr>
            <tr>
                <td>
                    <label for="id_tags">Tags:</label> 
                </td>
                <td>
                    {{ form.tags.errors }}
                    {{ form.tags }}
                </td>
            </tr>
            </table>
            
            <p><button id="save_button" type="submit" onclick="save();" class="btn btn-primary">Save</button></p>
            
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>

<script type="text/javascript">
function save() {
    $('#save_button').addClass('disabled').text('Saving...');
}

$(document).ready(function() {
    $("#id_url").focus();
    $('#id_entry_date').datepicker({ format: 'yyyy-mm-dd' }).on('changeDate', function(ev){ $('#id_entry_date').datepicker('hide'); });
});
</script>
{% endblock %}
